@tanstack/react-query
wouter
next-themes
framer-motion
react-icons
radix-ui
react-intersection-observer
class-variance-authority
tailwind-merge
lucide-react
tailwindcss @tailwindcss/vite
react-router-dom
react-hook-form
@hookform/resolvers zod
axios
sockjs-client